apiVersion: v1
kind: ConfigMap
metadata:
  name: filebeat-config
  namespace: observability
data:
  filebeat.yml: |
    filebeat.inputs:
      - type: filestream
        id: container-logs    # هر filestream باید id یکتا داشته باشه
        prospector.scanner.symlinks: true

        parsers:
          - container: ~       # همون container parser

        paths:
          - /var/log/containers/*.log

        processors:
          - add_kubernetes_metadata:
              host: ${KUBE_NODE_NAME}
              matchers:
                - logs_path:
                    logs_path: "/var/log/containers/"

    filebeat.modules: []

    output.elasticsearch:
      hosts: ["https://10.211.55.63:9200"]

      username: ${ELASTICSEARCH_USERNAME}
      password: ${ELASTICSEARCH_PASSWORD}

      ssl:
        certificate_authorities: ["/etc/ssl/elastic/ca.crt"]
        verification_mode: none

    logging.level: info
    logging.to_files: false
